<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Options</title>

</head>
<body class="bg-gray-100">

  <div class="flex min-h-screen items-center justify-center">
    <!-- Left section with options -->
    <div class="flex bg-white rounded-lg shadow-lg w-3/4 max-w-5xl overflow-hidden">
      <!-- Left content -->
      <div class="w-1/2 p-10 flex flex-col justify-center items-start">
        <img src="assets/logo_new1.png" alt="Centurion University Logo" class="w-24 mb-6">
        <h1 class="text-3xl font-bold text-gray-800 mb-2">Hello!</h1>
        <p class="text-lg text-gray-600 mb-8">Choose your login option</p>

        <!-- <a href="#" class="w-full"> -->
          <button class="flex justify-between items-center w-full  text-white py-3 px-4 rounded-lg mb-4 shadow " (click)="navigateTo('/studentlogin')">
            <span>Student</span>
            <span>Access the students' portal here.</span>
            <svg class="w-6 h-12" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
            </svg>
          </button>
        <!-- <a href="#" class="w-full"></a> -->
        <!-- </a> -->

        <!-- <a href="#" class="w-full"> -->
          <button class="flex justify-between items-center w-full bg-gray-200 text-gray-800 py-3 px-4 rounded-lg shadow hover:bg-gray-300" (click)="navigateTo('/staff-login')">
            <span>T&P member</span>
            <span>Exclusive to staff members only.</span>
            <svg class="w-6 h-12" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
            </svg>
          </button>

        <button class="flex justify-between items-center w-full bg-gray-200 text-gray-800 py-3 px-4 rounded-lg shadow hover:bg-gray-300" (click)="navigateTo('/recruiters-signup')">
          <span>Recruiter</span>
          <span>Exclusive to Recruiter Only</span>
          <svg class="w-6 h-12" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
          </svg>
        </button>
      </div>

      <!-- Right section with the abstract background -->
      <div class="w-1/2 bg-gray-200">
        <img src="assets/signup_side.jpg" alt="Abstract background" class="w-full h-full object-cover">
      </div>
    </div>
  </div>

</body>
</html>
