
.resizable {
  position: relative;
  overflow: hidden;
}

.resizer {
  width: 10px;
  height: 10px;
  background: #ccc;
  border: 1px solid #333;
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: se-resize;
}


