<div class="flex min-h-screen bg-gray-100">

  <div class="fixed top-0 left-0 h-full w-64 bg-white shadow-lg">
    <app-sidebar></app-sidebar>
  </div>

  <div class="flex-1 ml-64 p-6">

    <app-header></app-header>

    <p class="text-gray-500 text-right mt-2">{{ currentDate | date:'fullDate' }} {{ currentDate | date:'shortTime' }}</p>

    <app-cards *ngIf="selectedItems.includes('cards')"></app-cards>
    <div class="grid grid-cols-3 gap-4 mt-6">
      <app-interview-schedule *ngIf="selectedItems.includes('interview-schedule')" class="col-span-2"></app-interview-schedule>
      <app-recent-activity *ngIf="selectedItems.includes('recent-activity')"></app-recent-activity>
      <app-create-jobs *ngIf="selectedItems.includes('create-jobs')"  class="col-span-2"></app-create-jobs>
      <app-create-company *ngIf="selectedItems.includes('create-company')"  class="col-span-2"></app-create-company>
      <app-task-creator *ngIf="selectedItems.includes('tasks-creator')"  class="col-span-2"></app-task-creator>
      <app-recruiter *ngIf="selectedItems.includes('recruiter')"  class="col-span-2"></app-recruiter>

      <app-tasks *ngIf="selectedItems.includes('tasks')" class="mt-4"></app-tasks>
    </div>
  </div>
</div>


<!-- <div class="flex min-h-screen bg-gray-100" (mousemove)="onMouseMove($event)">

  <div class="sidebar top-0 left-0 h-full w-64 bg-white shadow-lg" [class.open]="isSidebarOpen">
    <app-sidebar></app-sidebar>
  </div>

  <div class="flex-1 ml-30 main-content" [class.shifted]="isSidebarOpen" p-6>
    <app-header></app-header>
    <p class="text-gray-500 text-right mt-2">Thursday, May 16, 2024</p>
    <app-cards *ngIf="selectedItems.includes('cards')"></app-cards>
    <div class="grid grid-cols-3 gap-4 mt-6">
      <app-interview-schedule *ngIf="selectedItems.includes('interview-schedule')" class="col-span-2"></app-interview-schedule>
      <app-recent-activity *ngIf="selectedItems.includes('recent-activity')"></app-recent-activity>
      <app-create-jobs *ngIf="selectedItems.includes('create-jobs')" class="col-span-2"></app-create-jobs>
      <app-tasks *ngIf="selectedItems.includes('tasks')" class="mt-4"></app-tasks>
    </div>
  </div>
</div> -->