<div class="grid grid-cols-3 gap-4 mt-6">
    <div class="bg-yellow-500 text-white p-4 rounded-lg">
      <p class="text-lg font-bold">Total Courses</p>
      <p class="text-4xl font-semibold mt-2">15</p>
    </div>
    <div class="bg-red-100 text-red-600 p-4 rounded-lg">
      <p class="text-lg font-bold">Interviews Attended</p>
      <p class="text-4xl font-semibold mt-2">07 <span class="text-lg">46%</span></p>
    </div>
    <div class="bg-gray-100 text-gray-800 p-4 rounded-lg">
      <p class="text-lg font-bold">Offers Received</p>
      <p class="text-4xl font-semibold mt-2">02 <span class="text-lg text-gray-500">3 Rejected</span></p>
    </div>
  </div>