<div class="about-us">
  <!-- Header -->
  <header class="header">
    <div class="container">
      <nav class="navbar">
        <a href="#" class="logo">Placement Cell</a>
        <ul class="nav-links">
          <li><a routerLink="">Home</a></li>
          <li><a routerLink="/about">About Us</a></li>
          <li><a routerLink="/learning">Learning</a></li>
          <li><a routerLink="/contactus">Contact Us</a></li>
          <li><a routerLink="/login">Login</a></li>
        </ul>
        <button class="cta">Call Toll-Free: 8260077222</button>
      </nav>
    </div>
  </header>