<link rel="stylesheet" href="sidebar.component.css">
<div class="bg-white w-64 p-6 shadow-lg min-h-screen">
  <div class="flex items-center mb-8">
    <img src="assets/cutm_logo.png" alt="University Logo" class="h-16 w-16 rounded-full">
    <h1 class="ml-4 text-xl font-bold text-gray-800">Centurion University</h1>
  </div>
  <nav>
    <ul>
      <li class="flex items-center mb-4" (click)="onSelectItem('create-jobs', $event)" [class.selected]="isSelected('create-jobs')">
        <i class="fas fa-home text-blue-500 mr-3"></i>
        <a href="#" class="text-blue-500 font-semibold">Add Job</a>
      </li>
      <li class="flex items-center mb-4" (click)="onSelectItem('cards', $event)" [class.selected]="isSelected('cards')">
        <i class="fas fa-user text-gray-500 mr-3"></i>
        <a href="#" class="text-gray-700">Cards</a>
      </li>
      <li class="flex items-center mb-4" (click)="onSelectItem('recruiters-provided-jobs', $event)" [class.selected]="isSelected('recruiters-provided-jobs')">
        <i class="fas fa-clipboard-list text-gray-500 mr-3"></i>
        <a href="#" class="text-gray-700">Recruiter Provided Jobs</a>
      </li>
      <!-- <li class="flex items-center mb-4" (click)="onSelectItem('interview-schedule', $event)" [class.selected]="isSelected('interview-schedule')">
        <i class="fas fa-calendar-alt text-gray-500 mr-3"></i>
        <a href="#" class="text-gray-700">Interview Schedule</a>
      </li>
      <li class="flex items-center mb-4" (click)="onSelectItem('recent-activity', $event)" [class.selected]="isSelected('recent-activity')">
        <i class="fas fa-book text-gray-500 mr-3"></i>
        <a href="#" class="text-gray-700">Recent Activity</a>
      </li> -->
      <li class="flex items-center mb-4" (click)="onSelectItem('tasks-creator', $event)" [class.selected]="isSelected('tasks-creator')">
        <i class="fas fa-tasks text-gray-500 mr-3"></i>
        <a href="#" class="text-gray-700">Tasks Creator</a>
      </li>
      <li class="flex items-center mb-4" (click)="onSelectItem('tasks', $event)" [class.selected]="isSelected('tasks')">
        <i class="fas fa-tasks text-gray-500 mr-3"></i>
        <a href="#" class="text-gray-700">Tasks</a>
      </li>
      <li class="flex items-center mb-4" (click)="onSelectItem('create-company', $event)" [class.selected]="isSelected('create-company')">
        <i class="fas fa-tasks text-gray-500 mr-3"></i>
        <a href="#" class="text-gray-700">Create Company</a>
      </li>
      <!-- <li class="flex items-center mb-4" (click)="onSelectItem('recruiter', $event)" [class.selected]="isSelected('recruiter')">
        <i class="fas fa-tasks text-gray-500 mr-3"></i>
        <a href="#" class="text-gray-700">Recruiter</a>
      </li> -->
      <!-- <div>
        <button (click)="openCreateJob()" class="mt-4 bg-blue-500 text-white py-2 px-4 rounded">Create Job</button>
      </div> -->
    </ul>
  </nav>
</div>