<div class="container">
    <!-- Top section with buttons -->
    <div class="button-section">
      <button mat-raised-button color="primary" (click)="addRow()">Add Row</button>
      <button mat-raised-button color="accent" (click)="saveData()">Save</button>
    </div>
  
    <!-- Lower section with a table to edit details -->
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element; let i = index">
          <input [(ngModel)]="element.name" (change)="updateName($event, i)" placeholder="Enter Name">
        </td>
      </ng-container>
  
      <!-- Age Column -->
      <ng-container matColumnDef="age">
        <th mat-header-cell *matHeaderCellDef> Age </th>
        <td mat-cell *matCellDef="let element; let i = index">
          <input [(ngModel)]="element.age" type="number" (change)="updateAge($event, i)" placeholder="Enter Age">
        </td>
      </ng-container>
  
      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element; let i = index">
          <button mat-icon-button color="warn" (click)="deleteRow(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  